body {
    background-color: #f7f6f4;
  }
  .navbar-collapse {
    background: #f7f6f4;
  }
  
  a {
    text-decoration: none;
    color: #333333;
  }
  a:hover {
    color: #d84727;
  }
  .cart {
    width: 46px;
    height: 46px;
    left: 1229px;
    top: 30px;
    border-radius: 50%;
    background: #f1ddc9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-border {
    background: #f1ddc9;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .nav-item {
    margin: 0 17px;
    cursor: pointer;
  }
  
  p {
    color: #777777;
  }
  
  
  
  
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  .modal-cart {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .modal-cantainer {
    background: #ffffff;
    width: 800px;
    max-width: calc(100% - 16px);
    min-height: 200px;
    padding: 10px 25px 0;
    position: relative;
    animation: modalFakeIn ease 0.5s;
  }
  
  
  .item-product-cart {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  .item-product-left {
    display: flex;
  }
  .item-product-left {
    width: 50%;
  }
  .item-product-img {
    width: 100%;
    background: #f1ddc9;
  }
  
  .item-product-text p {
    margin-bottom: 8px;
    font-family: "Taviraj";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  
    letter-spacing: 0.02em;
  
    color: #333333;
  }
  
  .item-product-right p {
    font-family: "Taviraj";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #333333;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
  }
  .item-product-right input {
    width: 313px;
    height: 42px;
    left: 930px;
    top: 184px;
    background: #ffffff;
    border: 0.3px solid #887d7d;
    outline: none;
    padding: 4px 36px 4px 12px;
    margin-bottom: 20px;
  }
  
  .item-product-right {
    position: relative;
  }
  
  .icon-input-cart {
    position: absolute;
    right: 12px;
    top: 43px;
    font-size: 18px;
  }
  #quantity2 {
    padding: 0 5px;
    font-size: 20px;
    font-weight: 500;
  }
  
  #reduction2,
  #more2 {
    border: 1px solid #ccc;
  }
  
  .icon-trash-cart {
    border: 1.5px solid #d84727;
    padding: 0 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .icon-trash-cart i {
    color: #d84727;
  }
  .into-money {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
  }
  .into-origin {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.02em;
  
    color: #333333;
  }
  .country {
    margin: 0 15px 0 20px;
    width: 180px;
    border: 1px solid #ccc;
    padding: 2px 0 2px 8px;
  }
  
  .tatol-mone {
    display: flex;
    align-items: center;
  }
  .tatol-mone > p {
    font-weight: 400;
    font-size: 18px;
  
    letter-spacing: 0.02em;
    margin-bottom: 0;
    color: #333333;
  }
  .footer-modal button {
    width: 100%;
    height: 50px;
    background: #d84727;
    border: none;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
  .incon-delete-modal {
    position: absolute;
    top: 0;
    right: 0;
    background: #dee2e6;
    width: 45px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
  }
  .incon-delete-modal:hover {
    opacity: 0.8;
  }
  .incon-delete-modal i {
    font-size: 18px;
    color: #000000;
  }
  
  .open {
    display: flex ;
  }
  