img {

  width: 80%;
}
body {
  
  margin-bottom: 50px;
  margin-left: 20%;
}
p {width: 80%;
  line-height: 1.8;
  font-size: 1em;
}
h1 {font-size: 2em;

  margin: 30px 150px;
}


a {
  text-decoration: none;
  color: aliceblue;
}
button {
  border-radius: 4px;
  background-color: dimgrey;
  margin: 10px;
}
button:hover {
  background-color: #2d3436;
  transition: 0.6s;
}

@media only screen and (max-width: 600px){
  /* Ví không giảm font size nội dung nữa nên tăng font size heading lên 1 chút */
h1{font-size: 1.5em;
 
  margin: 30px 0px;
  }
/* Ở màn hình size nhỏ mà giảm font size của nội dung sẽ rất khó đọc */
}

